#fb-root.hidden
#splashLoader
  #loading
    %span.loadTxt
      = t(:loading_message)
    .x-loading-spinner
      %span.x-loading-top
      %span.x-loading-right
      %span.x-loading-bottom
      %span.x-loading-left