// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spacer {
  margin-top: 10px;
}

.home h4{
  text-align: center;
}

.social-link {
  display: block;
  background: url(/assets/facebook.png) no-repeat;
  height: 48px;
  width: 48px;
  margin: auto;
}