.hidden {
  display: none;
}

body {
  background: -webkit-gradient(radial, 50% 40%, 20, 50% 40%, 350, from(#6983b2), to(#30508b));
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#splashLoader {
  background: url(/assets/splashimg.png) no-repeat center 25%;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#loading {
  color: #9eb2cd;
  font-size: 100%;
  position: absolute;
  width: 180px;
  left: 50%;
  margin: 75% 0 0 -30px;

  .x-loading-spinner {
    font-size: 160%;
    margin: -27px 0 0 -45px;
  }
}

.loadTxt {
  width: 100%;
}

.fbLogin {
  width: 48px;
  height: 48px;
  background: url(/assets/facebook.png) no-repeat;
  display: block;
  margin: 15px auto;
}

.teaser {
  text-align: center;
}

.signoutBtn{
  background:url(/assets/logout.png) no-repeat center center;
  background-size:16px 18px;
  width:17px !important;
  height:20px !important
}

.showFormBtn {
  background: url(/assets/add.png) no-repeat center center;
  background-size: 15px 15px;
  width: 17px !important;
  height: 20px !important
}

.homeToolbar.x-toolbar-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(
    #738aba), to(
    #2c4987));
}
