/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require sencha-touch
*/

.hidden {
  display: none;
}

body {
  background: -webkit-gradient(radial, 50% 40%, 20, 50% 40%, 350, from(#6983b2), to(#30508b));
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#splashLoader {
  background: url(/assets/splashimg.png) no-repeat center 25%;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#loading {
  color: #9eb2cd;
  font-size: 120%;
  position: absolute;
  width: 110px;
  left: 50%;
  margin: 75% 0 0 -30px;
  .x-loading-spinner {
    font-size: 160%;
    margin: -27px 0 0 -45px;
  }
}